*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525252;
  text-align: left;
  background-color: #fff;
  background-image: url("../images/banner-bg.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: 0 0;
  min-height: 300px;
}
a{
  text-decoration: none;
  color: rgb(58, 124, 102);
}
a:hover{
  color: rgb(0, 160, 125);
}
header{
  min-height: 90px;
}
.logo{
  margin: 8px 15px;
  float: left;
}
.logo_text{
  display: inline-block;
  margin-top: 15px;
  color: brown;
}
main{
  padding-left: 15px;
  padding-right: 15px;
}
nav{
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  padding: 0px 12px;
  text-align: right;
  width: 100%;
  background-color: darksalmon;
  height: 60px;

}
nav ul{
  float: right;
  display: inline-flex;
  list-style-type: none;
}
nav ul li{
  list-style: none;
  padding: 18px 0px;
}
nav li a{
  color: #fff!important;
  text-decoration: none;
  padding: 19px 15px;
  cursor: pointer;
}
nav ul li a:hover{
  background-color: brown;

}

input, textarea{
  padding: 5px;
  background-color: rgba(233,150,122,0.5);
  color: black;
  border: 1px solid rgba(100, 100, 100, 0.6);
  border-radius: 3px;
  cursor: text;
  width: 200px;
}
input[type=submit]{
  background-color: brown;
  padding: 5px 8px;
  color: #fff;
  cursor: pointer;
  width: 80px;
}
table{
  border: 1px solid rgb(52, 157, 185);
  border-spacing: 0px;
  border-collapse: collapse;
}
table thead {
  background-color: rgb(58, 124, 102);
}
table thead th{
  padding: 8px;
  color: #fff;
}
table tr{
  border: 1px solid rgb(52, 157, 185);
}
table tr td{
  padding: 5px;
  border-right: 1px solid rgb(52, 157, 185);
}
/**
================= Admin Page styling ===================
*/
.admin_menu_container{
width: 15%;
float: left;
height: 100%;
}

.admin_nav{
  width: 150px;
  background-color: rgba(0,0,0,0.5);
  min-height: 400px;
  height: auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0!important;
  padding: 0;
  margin:0;
}
.admin_nav .nav_items{
  display: block;
  list-style: none;
  text-align: left;
  width: 100%;
}
.admin_nav .nav_items .nav_item{
  list-style: none;
  width: 100%;
}
.admin_nav .nav_items .nav_item a{
  color: #FEFEFE;
  padding: 2px 3px!important;
}
.admin_nav .nav_items .nav_item:hover{
  background-color: rgba(0, 0, 0, 0.7);
}
.admin_nav .nav_items .nav_item a:hover{
  background-color: rgba(0, 0, 0, 0)!important;
}

.admin_content_container{
  width: 85%;
  float: left;
}

/*======= footer =========*/

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #525252;
  color: #fff;
  text-align: center;
  min-height: 40px;
  display: block;
  width: 100%;
  padding-top: 8px;
  margin-top: 20px;
}